In [1]:
#添加导入模块
import pandas as pd
import numpy as np

In [2]:
# 导入数据
df_train = pd.read_csv('C:/Users/wolf/Desktop/员工离职预测训练赛/pfm_train.csv')
df_train.head()
#df.describe()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,37,0,Travel_Rarely,Research & Development,1,4,Life Sciences,77,1,Male,...,3,80,1,7,2,4,7,5,0,7
1,54,0,Travel_Frequently,Research & Development,1,4,Life Sciences,1245,4,Female,...,1,80,1,33,2,1,5,4,1,4
2,34,1,Travel_Frequently,Research & Development,7,3,Life Sciences,147,1,Male,...,4,80,0,9,3,3,9,7,0,6
3,39,0,Travel_Rarely,Research & Development,1,1,Life Sciences,1026,4,Female,...,3,80,1,21,3,3,21,6,11,8
4,28,1,Travel_Frequently,Research & Development,1,3,Medical,1111,1,Male,...,1,80,2,1,2,3,1,0,0,0

In [3]:
# 查看去重-性别-Gender
print (df_train["Gender"].unique())
#将性别列 "男性","女性" 用“1”，“2”来表示；
df_train.loc[df_train["Gender"] == "Male", "Gender"] = 0
df_train.loc[df_train["Gender"] == "Female","Gender"] = 1

# 查看去重-商务差旅频率-BusinessTravel
print (df_train["BusinessTravel"].unique())
df_train.loc[df_train["BusinessTravel"] == "Travel_Rarely", "BusinessTravel"] = 0
df_train.loc[df_train["BusinessTravel"] == "Travel_Frequently", "BusinessTravel"] = 1
df_train.loc[df_train["BusinessTravel"] == "Non-Travel", "BusinessTravel"] = 2

#查看去重-员工所在部门-Department
print (df_train["Department"].unique())
df_train.loc[df_train["Department"] == "Sales", "Department"] = 0
df_train.loc[df_train["Department"] == "Research & Development", "Department"] = 1
df_train.loc[df_train["Department"] == "Human Resources", "Department"] = 2

#查看去重-员工所学习的专业领域-EducationField
print (df_train["EducationField"].unique())
df_train.loc[df_train["EducationField"] == "Life Sciences", "EducationField"] = 0
df_train.loc[df_train["EducationField"] == "Medical", "EducationField"] = 1
df_train.loc[df_train["EducationField"] == "Other", "EducationField"] = 2
df_train.loc[df_train["EducationField"] == "Technical Degree", "EducationField"] = 3
df_train.loc[df_train["EducationField"] == "Human Resources", "EducationField"] = 4
df_train.loc[df_train["EducationField"] == "Marketing", "EducationField"] = 5

#查看去重-工作角色-JobRole
print (df_train["JobRole"].unique())
df_train.loc[df_train["JobRole"] == "Manufacturing Director", "JobRole"] = 0
df_train.loc[df_train["JobRole"] == "Laboratory Technician", "JobRole"] = 1
df_train.loc[df_train["JobRole"] == "Sales Executive", "JobRole"] = 2
df_train.loc[df_train["JobRole"] == "Research Scientist", "JobRole"] = 3
df_train.loc[df_train["JobRole"] == "Healthcare Representative", "JobRole"] = 4
df_train.loc[df_train["JobRole"] == "Sales Representative", "JobRole"] = 5
df_train.loc[df_train["JobRole"] == "Research Director", "JobRole"] = 6
df_train.loc[df_train["JobRole"] == "Manager", "JobRole"] = 7
df_train.loc[df_train["JobRole"] == "Human Resources", "JobRole"] = 8

#查看去重-员工婚姻状况-MaritalStatus
print (df_train["MaritalStatus"].unique())
df_train.loc[df_train["MaritalStatus"] == "Divorced", "MaritalStatus"] = 0
df_train.loc[df_train["MaritalStatus"] == "Single", "MaritalStatus"] = 1
df_train.loc[df_train["MaritalStatus"] == "Married", "MaritalStatus"] = 2

#查看去重-是否加班-OverTime
print (df_train["OverTime"].unique())
df_train.loc[df_train["OverTime"] == "No", "OverTime"] = 0
df_train.loc[df_train["OverTime"] == "Yes", "OverTime"] = 1

['Male' 'Female']
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
['Research & Development' 'Sales' 'Human Resources']
['Life Sciences' 'Medical' 'Other' 'Technical Degree' 'Human Resources'
 'Marketing']
['Manufacturing Director' 'Laboratory Technician' 'Sales Executive'
 'Research Scientist' 'Healthcare Representative' 'Human Resources'
 'Sales Representative' 'Research Director' 'Manager']
['Divorced' 'Single' 'Married']
['No' 'Yes']

In [7]:
#引入逻辑回归算法
from sklearn import cross_validation
#逻辑回归
from sklearn.linear_model import LogisticRegression

#训练集交叉验证，得到平均值
from sklearn.model_selection import KFold

#选取可用的输入特征
predictors = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']

alg = LogisticRegression(random_state=1)

#样本平均分成3份，3折交叉验证
kf = KFold(n_splits=3,shuffle=False,random_state=1) 

predictions = []
for train,test in kf.split(df_train):
    
    train_predictors = (df_train[predictors].iloc[train,:])
    
    train_target = df_train["Attrition"].iloc[train]
    
    alg.fit(train_predictors, train_target)
    
    test_predictions = alg.predict(df_train[predictors].iloc[test,:])
    
    predictions.append(test_predictions)

#使用sklearn库里面的交叉验证函数获取预测准确率分数
scores = cross_validation.cross_val_score(alg, df_train[predictors], df_train["Attrition"], cv=3)

#使用交叉验证分数的平均值作为最终的准确率
print(scores.mean())

0.871792587313

In [17]:
# 导入测试数据集
df_test = pd.read_csv('C:/Users/wolf/Desktop/员工离职预测训练赛/pfm_test.csv')
df_test.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,40,Non-Travel,Research & Development,9,4,Other,1449,3,Male,3,...,3,80,2,11,2,4,8,7,0,7
1,53,Travel_Rarely,Research & Development,7,2,Medical,1201,4,Female,3,...,2,80,1,26,6,3,7,7,4,7
2,42,Travel_Rarely,Research & Development,2,4,Other,477,1,Male,2,...,2,80,0,14,6,3,1,0,0,0
3,34,Travel_Frequently,Human Resources,11,3,Life Sciences,1289,3,Male,2,...,4,80,2,14,5,4,10,9,1,8
4,32,Travel_Rarely,Research & Development,1,1,Life Sciences,134,4,Male,3,...,4,80,0,1,2,3,1,0,0,0

In [18]:
#新增：对测试集数据进行预处理，并进行结果预测
# 查看去重-性别-Gender
print (df_test["Gender"].unique())
#将性别列 "男性","女性" 用“1”，“2”来表示；
df_test.loc[df_test["Gender"] == "Male", "Gender"] = 0
df_test.loc[df_test["Gender"] == "Female","Gender"] = 1

# 查看去重-商务差旅频率-BusinessTravel
print (df_test["BusinessTravel"].unique())
df_test.loc[df_test["BusinessTravel"] == "Travel_Rarely", "BusinessTravel"] = 0
df_test.loc[df_test["BusinessTravel"] == "Travel_Frequently", "BusinessTravel"] = 1
df_test.loc[df_test["BusinessTravel"] == "Non-Travel", "BusinessTravel"] = 2

#查看去重-员工所在部门-Department
print (df_test["Department"].unique())
df_test.loc[df_test["Department"] == "Sales", "Department"] = 0
df_test.loc[df_test["Department"] == "Research & Development", "Department"] = 1
df_test.loc[df_test["Department"] == "Human Resources", "Department"] = 2

#查看去重-员工所学习的专业领域-EducationField
print (df_test["EducationField"].unique())
df_test.loc[df_test["EducationField"] == "Life Sciences", "EducationField"] = 0
df_test.loc[df_test["EducationField"] == "Medical", "EducationField"] = 1
df_test.loc[df_test["EducationField"] == "Other", "EducationField"] = 2
df_test.loc[df_test["EducationField"] == "Technical Degree", "EducationField"] = 3
df_test.loc[df_test["EducationField"] == "Human Resources", "EducationField"] = 4
df_test.loc[df_test["EducationField"] == "Marketing", "EducationField"] = 5

#查看去重-工作角色-JobRole
print (df_test["JobRole"].unique())
df_test.loc[df_test["JobRole"] == "Manufacturing Director", "JobRole"] = 0
df_test.loc[df_test["JobRole"] == "Laboratory Technician", "JobRole"] = 1
df_test.loc[df_test["JobRole"] == "Sales Executive", "JobRole"] = 2
df_test.loc[df_test["JobRole"] == "Research Scientist", "JobRole"] = 3
df_test.loc[df_test["JobRole"] == "Healthcare Representative", "JobRole"] = 4
df_test.loc[df_test["JobRole"] == "Sales Representative", "JobRole"] = 5
df_test.loc[df_test["JobRole"] == "Research Director", "JobRole"] = 6
df_test.loc[df_test["JobRole"] == "Manager", "JobRole"] = 7
df_test.loc[df_test["JobRole"] == "Human Resources", "JobRole"] = 8

#查看去重-员工婚姻状况-MaritalStatus
print (df_test["MaritalStatus"].unique())
df_test.loc[df_test["MaritalStatus"] == "Divorced", "MaritalStatus"] = 0
df_test.loc[df_test["MaritalStatus"] == "Single", "MaritalStatus"] = 1
df_test.loc[df_test["MaritalStatus"] == "Married", "MaritalStatus"] = 2

#查看去重-是否加班-OverTime
print (df_test["OverTime"].unique())
df_test.loc[df_test["OverTime"] == "No", "OverTime"] = 0
df_test.loc[df_test["OverTime"] == "Yes", "OverTime"] = 1

['Male' 'Female']
['Non-Travel' 'Travel_Rarely' 'Travel_Frequently']
['Research & Development' 'Human Resources' 'Sales']
['Other' 'Medical' 'Life Sciences' 'Marketing' 'Technical Degree'
 'Human Resources']
['Laboratory Technician' 'Manager' 'Healthcare Representative'
 'Human Resources' 'Research Scientist' 'Sales Executive'
 'Research Director' 'Manufacturing Director' 'Sales Representative']
['Divorced' 'Single' 'Married']
['No' 'Yes']

In [20]:
#选取特征，引入模型预测
test_features = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'] 
#构造测试集的Survived列，
df_test["Attrition"] = -1

test_predictors = df_test[test_features]
df_test["Attrition"] = alg.predict(test_predictors)

In [21]:
#查看预测数据
df_test.head(10)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,40,2,1,9,4,2,1449,3,0,3,...,80,2,11,2,4,8,7,0,7,0
1,53,0,1,7,2,1,1201,4,1,3,...,80,1,26,6,3,7,7,4,7,0
2,42,0,1,2,4,2,477,1,0,2,...,80,0,14,6,3,1,0,0,0,0
3,34,1,2,11,3,0,1289,3,0,2,...,80,2,14,5,4,10,9,1,8,0
4,32,0,1,1,1,0,134,4,0,3,...,80,0,1,2,3,1,0,0,0,0
5,45,0,2,4,3,0,1744,3,1,1,...,80,2,9,2,4,5,0,0,3,0
6,32,0,0,1,4,5,2016,3,1,3,...,80,2,14,3,3,14,10,5,7,0
7,38,0,1,25,2,0,421,1,1,2,...,80,1,19,2,3,10,8,0,1,0
8,37,0,1,1,3,0,391,4,1,3,...,80,0,17,3,3,17,12,5,7,0
9,29,1,0,1,1,1,312,2,1,3,...,80,1,11,5,3,11,10,4,1,0

In [26]:
#导出预测结果数据
df_test.to_csv('C:/Users/wolf/Desktop/员工离职预测训练赛/df_test.csv', encoding='utf-8', index=False)